/* 금융상품 상세페이지 카뱅 클론 */

.head_product {
    padding: 152px 0 72px;
    background-color: #7a60f2;
    color: #fff;
    text-align: center;
}

.head_product h1 .txt_detail {
    display: block;
    margin-top: 16px;
    font-weight: 300;
    font-size: 58px;
    line-height: 1.31;
}

.wrap_detail {
    margin-top: 80px;
}

.wrap_detail .inner_detail {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.wrap_detail .list_detail {
    float: left;
    position: relative;
    min-width: 145px;
    padding: 0 30px;
    text-align: left;
}

.wrap_detail .txt_bar {
    float: left;
    width: 1px;
    height: 62px;
    margin-top: 7px;
    background-color: #fff;
    opacity: .3;
}

.wrap_detail .list_detail .desc_detail {
    display: inline-block;
    vertical-align: top;
}

.wrap_detail .list_detail .txt_unit {
    float: left;
    margin-top: 13px;
    font-size: 22px;
    font-weight: 200;
    line-height: 27px;
}

.wrap_detail .list_detail .txt_year {
    float: left;
    margin: 3px 4px 0 0;
    font-size: 32px;
    font-weight: 200;
    line-height: 41px;
}

.wrap_detail .list_detail .num_txt {
    float: left;
    margin-right: 4px;
    font-size: 38px;
    font-weight: lighter;
    line-height: 48px;
}

.wrap_detail .list_detail .txt_per {
    float: left;
    margin-top: 13px;
    font-size: 24px;
    font-weight: 200;
    line-height: 29px;
}

.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.intro_product {
    overflow: hidden;
    background-color: #fff;
}

.deposit_product_1 .content_wrapper {
    padding: 134px 0;
}

.content_wrapper {
    position: relative;
    width: 1080px;
    min-height: 100%;
    margin: 0 auto;
}

.deposit_visual1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 528px;
    height: 144px;
    margin: auto 0;
}